.Contact{
    padding: 80px 100px;
}
.header{
    text-align: center;
    margin-bottom: 80px;

}
.badge{
    display: inline-block;
    padding: 8px 20px;
    background: var(--card-bg);
    border: 1px solid var(--border);
    border-radius: 30px;
    color: var(--text-color-1);
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 20px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}
.title{
    font-size: 60px;
    font-weight: 900;
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
    margin-bottom: 20px;
    letter-spacing: -2px;
}
.titleInfo{
    color: var(--text-color-1);
}
.titleUnderline{
    width: 80px;
    height: 4px;
    background: var(--line-grd);
    margin: 40px auto 0;
    border-radius: 2px;
}
.conteyner{
    padding: 20px;
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 50px;
}
.contOne img{
    width: 40px;
    border-radius: 50%;
}
.contOne .item{
    display: flex;
    align-items: center;
    gap: 20px;
    border: solid var(--border);
    border-radius: 20px;
    background: rgba(255,255,255,0.05);
    padding: 20px;
    width: 350px;
    text-align: left;
    margin: 20px 0;
    box-shadow: whitesmoke 0 0  30px -25px; 
}
.item div h3{
    color: var(--text-color-3);
    margin: 0;
    margin-top: 5px;
}
.item div span{
    color: var(--text-color-1);
    font-weight: 300;
    font-family: sans-serif;
}

.quicInfo{
    background: #ffe6cc;
    border-radius: 20px;
    padding: 30px;
    text-align: left;
    width: 330px;
    border-radius: 28px;
    box-shadow: 0 10px 30px rgba(255, 230, 204, 0.1);
    color: black;
}
.quicInfo h2 {
    margin-top: 0;
    font-size: 24px;
    margin-bottom: 25px;
    font-family: sans-serif;
    font-weight: 800;
    color: rgba(17, 17, 17, 0.8);
}

.item2 {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 20px;
    padding: 12px;
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.4);
    font-family: sans-serif;
    color: gray;
}
.icon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-radius: 12px;
    color: #ff8c00;
}
.icon i{
    font-size: 20px;
}

.item2 span {
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    opacity: 0.9;
}

.item2 h3 {
    margin: 0;
    font-size: 16px;
    font-weight: 700;
    color: rgb(59, 56, 56);
}


.contTwo{
    position: relative;
    border: solid var(--border) 1px;
    border-radius: 20px;
    padding: 10px 30px;
    background: var(--card-bg);
    box-shadow: whitesmoke 0 0  30px -20px;
}
.contTwo h2{
    text-align: left;
    font-family: sans-serif;
    font-weight: 600;
    color: var(--text-color-3);
}
.contTwo p{
    text-align: left;
    margin-top: -5px;
    line-height: 10px;
    font-size: 14px;
    color: var(--text-color-1);

}
.contTwo .row{
    margin-top: 50px;
}
.gridRow{
     display: grid;
    grid-template-columns: 1fr 1fr;
}

.inputGroup {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.label {
    display: block !important;
    font-size: 16px;
    font-weight: 600;
    color: var(--text-color-2);
    margin-bottom: 10px;
}

.inputField {
    width: 17vw;
    padding: 12px;
    border: none;
    border-radius: 8px;
    outline-color: gray;
    outline-offset: 1px;
    background: var(--gradient);
    
}

.row textarea{
    width: 37vw;
    height: 40vh;
    padding: 15px;
    border-radius: 10px;
    margin-top: 30px;
    outline-color: gray;
    background: linear-gradient(135deg, #e6c9aa 0%, rgb(106, 104, 104) 100%);
    color: rgb(29, 28, 28);
    font-family: sans-serif;
    font-weight: 500;
}
.forButon{
    height: 60px;
    display: flex;
    place-items: center;
    justify-content: center;
}
.contTwo button{
    width: 250px;
    height: 40px;
    border: none;
    border-radius: 30px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    text-transform: lowercase;
    font-family: sans-serif;
    letter-spacing: .5px;
    position: absolute;
    background: linear-gradient(30deg, #ff8c00  0%,  #e6c9aa 100%);
    color: var(--text-color-3);
    transition: .7s;
}
.contTwo button:hover{
    letter-spacing: 1px;
    transform: scale(1.1);
}
@media (max-width: 1250px){
    .Contact{
        padding: 80px 5vw;
    }
}
@media(max-width: 1100px){
    .inputField{
        width: 15vw;
    }
    .inputGroup textarea{
        width: 34vw;
    }
}
@media(max-width: 1000px){
    .contOne .item{
        width: 30vw;
        height: 30px;
    }
    .item h3{
        font-size: 1rem;
    }
    .quicInfo{
        width: 28vw;
    }
}
@media (max-width: 900px){
   .conteyner{
    grid-template-columns: 1fr;
    place-items: center;
   }
   .contOne .item{
    width: 50vw;
   }
   .quicInfo{
    width: 48vw;
   }
   .contTwo{
    width: 48vw;
   }
   .contTwo .inputField{
    width: 19vw;
   }
   .contTwo textarea{
    width: 42vw;
   }
   .contTwo button{
    margin-bottom: 20px;
   }
   .contTwo :is(h2, p){
    text-align: center;
   }
}
@media (max-width: 650px){
    .Contact{
        padding: 80px 50px;
        width: auto;
    }
    .header h2{
        font-size: 40px;
    }
    .contOne .row{
        display: grid;
        place-items: center;
    }
    .contOne .item{
        width: 100%;
    }
    .quicInfo{
        width: 95%;
    }
    .contTwo{
        width: 80%;
    }
    .contTwo .gridRow{
        grid-template-columns: 1fr;
    }
    .contTwo .inputField{
        width: 55vw;
    }
    .contTwo textarea{
        width: 54vw;
        margin-top: 0;
    }
    .contTwo h2{
        font-size: 25px;
    }
    .quicInfo h2{
        font-size: 25px;
    }
    .contTwo button{
        width: 200px;
        height: 35px;
    }
}
@media (max-width: 480px){
    .Contact{
        padding: 80px 20px;
    }
    .contOne .item{
        width: 70vw;
    }
    .quicInfo{
        width: 65vw;
    }
    .contTwo{
        width: 65vw;
    }
    .contTwo .inputField{
        width: 60vw;
    }
    .contTwo textarea{
        width: 58vw;
        margin-top: 0;
    }
    .contTwo h2{
        font-size: 20px;
    }
    .contTwo p{
        font-size: 12px;
    }
    .contOne .item h3{
        font-size: 14px;
    }
}
@media (min-width: 1350px){
    .Contact{
        max-width: 1440px;
        margin: auto;
        position: relative;
        padding: auto;
    }
    .conteyner{
        border: solid;
        width: 90%;
    }
    .contTwo{
        width: 500px;
        padding: 50px 30px;
    }
    .inputField{
        width: 7vw;
    }
    .contTwo textarea{
        width: 16vw;
        height: 17vh;
    }
}