.footer {
  padding: 40px 0;
  background-color: black;
  border-top: 1px solid #eee;
  margin-top: 50px;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.logo h3 {
  font-size: 24px;
  margin: 0;
  color: var(--text-color-3);
}

.logo span {
  color: #ff8c00;
}

.links {
  list-style: none;
  display: flex;
  gap: 30px;
  padding: 0;
}

.links a {
  text-decoration: none;
  color: var(--text-color-2);
  font-weight: 500;
  transition: color 0.3s;
}

.links a:hover {
  color: #ff8c00;
}

.socials {
  display: flex;
  gap: 20px;
}

.socials a {
  font-size: 14px;
  text-decoration: underline;
  color: #888;
}

.copyright {
  font-size: 13px;
  color: #aaa;
  margin-top: 10px;
}