.sec{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    padding: 0px 100px;
    gap: 50px;
    height: 86vh;
    overflow: hidden;
    place-items: center;
    align-items: center;
}
.section{
    font-family: sans-serif;
    position: relative;
    height: auto;  
}
.section::before {
  content: "";
  position: absolute;
  width: 1000px;
  height: 1000px;
  background: var(--card-bg);
  border-radius: 50%;
  top: -250px;
  right: -100px;
  z-index: -1;
}
.section h1{
    font-size: 40px;
    font-weight: 1000;
    background: linear-gradient(90deg, #7b7878, #c0bdbd, #ffffff);
    background-size: 150%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: ishla 3s ease-in-out infinite;
    letter-spacing: -1px;
    margin-top: 0px;
}
@keyframes ishla {
    0%,100%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
}
.section h3{
    font-size: 1.3rem;
    font-weight: 700;
    color: var(--text-color-3);
    margin-top: -15px;
    padding: 20px 0;
}
.skill{
    display: flex;
    align-items: center;
    gap: 40px;
    color: var(--text-color-3);
}
.skill h2{
    margin: 20px 0px;
}   
.container {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1200px;
  margin-top: -40px;
}

.scene {
  width: 250px;
  height: 250px;
  position: relative;
  transform-style: preserve-3d;
  animation: rotate 20s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotateX(0deg) rotateY(0deg);
  }
  100% {
    transform: rotateX(360deg) rotateY(360deg);
  }
}

.cube {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
}

.cubeFace {
  position: absolute;
  width: 250px;
  height: 250px;
  border: 2px solid var(--border);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  font-weight: bold;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);

}

.front {
  background: var(--card-hover-bg);
  transform: rotateY(0deg) translateZ(125px);
}

.back {
  background: var(--card-hover-bg);
  transform: rotateY(180deg) translateZ(125px);
}

.right {
  background: var(--card-hover-bg);
  transform: rotateY(90deg) translateZ(125px);
}

.left {
  background: var(--card-hover-bg);
  transform: rotateY(-90deg) translateZ(125px);
}

.top {
  background: var(--card-hover-bg);
  transform: rotateX(90deg) translateZ(125px);
}

.bottom {
  background: var(--card-hover-bg);
  transform: rotateX(-90deg) translateZ(125px);
}
@media (max-width: 1050px){
  .sec{
    padding: 0 50px;
    height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    background: var(--card-bg);

  }
  .section::before{
    content: none;
  }
  .section{
    height: auto;
  }
  .section h1{
    font-size: 45px;
  }
  .skill{
    font-size: 14px;
  }
  .container{
    height: 200px;
  }
  .scene{
    width: 200px;
    height: 200px;
  }
  .cubeFace{
    width: 200px;
    height: 200px;
    font-size: 60px;
  }
  .front{
    transform: translateZ(100px);
  }
  .back{
    transform: rotateY(180deg) translateZ(100px);
  }
  .right{
    transform: rotateY(90deg) translateZ(100px);
  }
  .left{
    transform: rotateY(-90deg) translateZ(100px);
  }
  .top{
    transform: rotateX(90deg) translateZ(100px);
  }
  .bottom{
    transform: rotateX(-90deg) translateZ(100px);
  }
  .cube img{
    width: 50px;
  }
}
@media (max-width: 950px){
  .sec{
    grid-template-columns: 1fr;
    padding: 0px 20px;
    height: auto;
    gap: 30px;
    text-align: center;
    width: 100%;
    padding-top: 50px;
    margin: 0;
    width: auto;
  }
  .section{
    text-align: center;
    padding: 20px;
    height: auto;
  }
  .skill{
    display: none;
  }
  .section h3{
    padding: 20px 50px;
  }
  .container{
    margin-top: 100px;
    height: 200px;
    margin-bottom: 100px;
  }
  .scene{
    width: 200px;
    height: 200px;
    margin: 0;
  }
  .cube{
    align-items: center;
    position: relative;
    width: 70%;
    height: 70%;
  }
}
@media (max-width: 650px){
  .section h1{
    font-size: 33px;
    margin-bottom: 30px;
  }
  .section h3{
    font-size: 1rem;
  }
  .skill{
    display: none;
  }
}
@media(min-width: 1340px){
    .sec{
      max-width: 1700px;
      max-height: 800px;
      margin-left: auto;
      margin-right: auto;   
      margin-top: auto;
      margin-bottom: auto;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      align-items: center;
      justify-content: center;
    }
    .sec .container{
      height: auto;
    }
    .section::before{
      right: -130px;
      top: -390px;
      width: 1200px;
      height: 1200px;
    }
    .section h1{
      width: 700px;
    }
    .section h3{
      width: 650px;
      font-size: 24px;
    }
}