.sec{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    padding: 0px 100px;
    gap: 50px;
    height: 86vh;
    overflow: hidden;
    place-items: center;
    
}
.section{
    padding-top: 4%;
    font-family: sans-serif;
    position: relative;
    height: 79vh;  
}
.section::before {
  content: "";
  position: absolute;
  width: 1000px;
  height: 1000px;
  background: rgba(255, 255, 255, 0.04);
  border-radius: 50%;
  top: -250px;
  right: -100px;
  z-index: -1;
}
.section h1{
    font-size: 55px;
    font-weight: 1000;
    background: linear-gradient(90deg, #7b7878, #c0bdbd, #ffffff);
    background-size: 150%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: ishla 3s ease-in-out infinite;
    letter-spacing: -1px;
    margin-top: 0px;
}
@keyframes ishla {
    0%,100%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
}
.section h3{
    font-size: 1.3rem;
    font-weight: 700;
    color: white;
    margin-top: -15px;
    padding: 20px 0;
}
.skill{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 40px;
    color: white;
}
.skill h2{
    margin: 20px 0px;
}   
.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); */
  perspective: 1200px;
  margin-top: -20px;
}

.scene {
  width: 300px;
  height: 300px;
  position: relative;
  transform-style: preserve-3d;
  animation: rotate 20s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotateX(0deg) rotateY(0deg);
  }
  100% {
    transform: rotateX(360deg) rotateY(360deg);
  }
}

.cube {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
}

.cubeFace {
  position: absolute;
  width: 250px;
  height: 250px;
  border: 2px solid rgb(48, 47, 47);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.9);
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(20px);

}

.front {
  background: rgba(225, 225, 225, 0.3);
  transform: rotateY(0deg) translateZ(125px);
}

.back {
  background: rgba(225, 225, 225, 0.3);
  transform: rotateY(180deg) translateZ(125px);
}

.right {
  background: rgba(225, 225, 225, 0.3);
  transform: rotateY(90deg) translateZ(125px);
}

.left {
  background: rgba(225, 225, 225, 0.3);
  transform: rotateY(-90deg) translateZ(125px);
}

.top {
  background: rgba(225, 225, 225, 0.3);
  transform: rotateX(90deg) translateZ(125px);
}

.bottom {
  background: rgba(225, 225, 225, 0.3);
  transform: rotateX(-90deg) translateZ(125px);
}