.navbar{
    display: flex;
    justify-content: space-between;
    padding: 0px 90px;
    align-items: center;
    color: white;
    background: rgba(17,17,17, .9);
    backdrop-filter: blur(8px);
    position: sticky;
    top: 0;
    z-index: 100;
    border-bottom: solid 1px rgba(255, 255, 255, 0.1);
}
.navLinks{
    display: flex;
    list-style: none;
    gap: 30px;
    cursor: pointer;
    text-transform: lowercase;
    font-size: 18px;
    /* font-size: 18px; */
    font-family: sans-serif;
}
.navLinks li:hover{
    color: rgb(117, 117, 117);
    transition: .5s;
}