.header{
    text-align: center;
    margin-bottom: 80px;

}
.badge{
    display: inline-block;
    padding: 8px 20px;
    background: var(--card-bg);
    border: 1px solid var(--border);
    border-radius: 30px;
    color: var(--text-color-1);
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 20px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}
.title{
    font-size: 60px;
    font-weight: 900;
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
    letter-spacing: -2px;
}
.titleUnderline{
    width: 80px;
    height: 4px;
    background: var(--line-grd);
    margin: 20px auto 0;
    border-radius: 2px;
}
.roadmapSection{
    padding: 50px 20vw;
    
}
.roadmapWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    place-items: center;
    gap: 25px;
}

.card {
    width: 350px;
    height: 200px;
    background: var(--border);
    border-radius: 20px;
    padding: 30px 25px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
    border: 1px solid var(--border-hover);
    transition: transform 0.3s ease;
    color: var(--text-color-1);
}

.card:hover {
    transform: translateY(-10px);
}

.quarterBadge {
    background: #7c4dff; /* Binafsha rang */
    color: var(--text-color-3);
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
}

.goalItem {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-bottom: 12px;
    margin-left: -35px;
    color: var(--text-color-1);
    font-size: 15px;
}

.checkbox {
    width: 20px;
    height: 20px;
    border: 2px solid #ddd;
    border-radius: 50%;
    display: inline-block;
}
@media (max-width: 950px){
    .roadmapWrapper{
        grid-template-columns: 1fr;
    }
}
@media (max-width: 650px){
    .title{
        font-size: 35px;
    }
}
@media (max-width: 500px){
    .card{
        width: 250px;
    }
}@media (min-width: 1340px){
    .roadmapWrapper{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        max-width: 1440px;
        margin: auto;
    }
    .card{
        width: 290px;
    }
}