.skillSection{
    color: var(--text-color-3);
    padding: 90px 100px;
}
.title{
    display: grid;
    place-items: center;
    text-align: center;
}
.title span{
    display: inline-block;
    color: var(--text-color-1);
    border: solid  1px var(--border);
    padding: 8px 30px;
    background: var(--card-hover-bg);
    border-radius: 30px;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 20px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}
.title h2{
    font-size: 60px;
    font-weight: 900;
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
    letter-spacing: -2px;
}
.undLine{
    width: 80px;
    height: 4px;
    background: var(--line-grd);
    margin: 20px auto 0;
    border-radius: 2px;
}
.skillGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-top: 80px;
}

.skillCard{
    border: 1px solid var(--border);
    border-radius: 30px;
    padding: 20px 20px;
    background: var(--card-bg);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 0px 5px 100px -19px rgba(34, 60, 80, 0.23);
    overflow: hidden;
}
.skillIcon{
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    width: 60px;
    height: 60px;
}
.skillCard h1{
    font-family: sans-serif;
    font-size: 28px;
    color: var(--text-color-3) smoke;
}
.skillCard h3{
    display: flex;
    gap: 15px;
    font-size: 12px;
}
.skillCard h3 span{
    padding: 5px 10px;
    border-radius: 20px;
    font-family: sans-serif;
}

.skillCard .skilLine{
    width: 100px;
    height: 4px;
    position: relative;
    top: 20px;
    left: -20px;
    transition: 1s;
}
.skillCard:hover .skilLine {
    width: 150%;
}

.cardOne .skillIcon{
    background: linear-gradient(140deg, #efaa00 0%, #e37700 100%);
}
.cardOne h3 span{
    background: linear-gradient(140deg, #efaa00 0%, #e37700 100%);
}
.cardOne .skilLine{
    background: linear-gradient(140deg, #efaa00 0%, #e37700 100%);
}

.cardTwo .skillIcon{
    background: linear-gradient(140deg, #00b1de 0%, #016af9 100%);
}
.cardTwo h3 span{
    background: linear-gradient(140deg, #00b1de 0%, #016af9 100%);
}
.cardTwo .skilLine{
    background: linear-gradient(140deg, #00b1de 0%, #016af9 100%)
}

.cardThree .skillIcon{
    background: linear-gradient(140deg, #74bb58 0%, #3e863d 100%);
}
.cardThree h3 span{
    background: linear-gradient(140deg, #74bb58 0%, #3e863d 100%);
}
.cardThree .skilLine{
    background: linear-gradient(140deg, #74bb58 0%, #3e863d 100%);

}

.cardFour .skillIcon{
    background: linear-gradient(140deg, #b247fa 0%, #e00f86 100%);
}
.cardFour h3 span{
    background: linear-gradient(140deg, #b247fa 0%, #e00f86 100%);
}
.cardFour .skilLine{
    background: linear-gradient(140deg, #b247fa 0%, #e00f86 100%);
}

.cardFive .skillIcon{
    background: linear-gradient(140deg, #ff6100 0%, #eb0b03 100%);
}
.cardFive h3 span{
    background: linear-gradient(140deg, #ff6100 0%, #eb0b03 100%);
}
.cardFive .skilLine{
    background: linear-gradient(140deg, #ff6100 0%, #eb0b03 100%);
}

.cardSix .skillIcon{
    background: linear-gradient(140deg, #2681fe 0%, #0091bf 100%);
}
.cardSix h3 span{
    background: linear-gradient(140deg, #2681fe 0%, #0091bf 100%);
}
.cardSix .skilLine{
    background: linear-gradient(140deg, #2681fe 0%, #0091bf 100%);
}

.cardSeven .skillIcon{
    background: linear-gradient(140deg, #323d4f 0%, #141c2d 100%);
}
.cardSeven h3 span{
    background: linear-gradient(140deg, #323d4f 0%, #141c2d 100%);
}
.cardSeven .skilLine{
    background: linear-gradient(140deg, #323d4f 0%, #141c2d 100%);
}

.cardEight .skillIcon{
    background: linear-gradient(140deg, #fa3131 0%, #f64700 100%);
}
.cardEight h3 span{
    background: linear-gradient(140deg, #fa3131 0%, #f64700 100%);
}
.cardEight .skilLine{
    background: linear-gradient(140deg, #fa3131 0%, #f64700 100%);
}

.cardNine .skillIcon{
    background: linear-gradient(140deg, #0bb0f4 0%, #4a1ea9 100%);
}
.cardNine h3 span{
    background: linear-gradient(140deg, #0bb0f4 0%, #4a1ea9 100%);
}
.cardNine .skilLine{
    background: linear-gradient(140deg, #0bb0f4 0%, #4a1ea9 100%);
}

@media (max-width: 1230px){
    .skillGrid{
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 900px){
    .skillGrid{
        grid-template-columns: 1fr;
    }
    .skillCard{
        padding: 30px;
    }
    .title h2{
        font-size: 48px;
    }
}
@media (max-width: 700px){
    .skillSection{
        padding: 90px 20px;
    }
    .skillCard{
        padding: 20px;
    }
}

@media (min-width: 1350px){
    .skillSection{
        max-width: 1440px;
        margin: auto;
    }
}